/* $height: 50px; */
html {
  overflow-x: hidden;
}
*{
  padding: 0;
  margin: 0;
}

.navbar {
    background-color : black !important;
    margin: 0 !important;
}

.intro {
    height: 100vh;
    background-image: linear-gradient(to right top, #222222, #252525, #282828, #2c2c2c, #2f2f2f, #323233, #343436, #37373a, #383a3e, #383d43, #384047, #37434a);
}

.orientation{
    width: 100%;
    margin: 0 auto;
    transform: translateY(450%);
}

.underline {
  background-color: white;
  height: 2px;
  width: 220px;
  margin: 0 auto;
}
#img1 {
  align-content: center;
}
.img-fluid {
    border-radius: 50%;
    width: 300px;
    
}

.container_intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_intro{
  width: 100%;
}

.text-container{
  width: 520px;
  font-size: 40px;
  height: 50px;
  font-family: Montserrat;
}

.dynamic-text, .static-text{
  display: inline-block;
}

.static-text{
  margin-right: 10px;
  color: #B9BDBD;
}

.dynamic-text{
  list-style: none;
  position: absolute;
  overflow: hidden;
  height: 50px;
}

.item{
  position: relative;
  top: 0;
  animation: move 5s infinite 1s;
}.item:first-child{
    color: #01BAEF;
  }
  .item:nth-child(2){
    color: #F79256;
  }
  .item:nth-child(3){
    color: #0FA3B1;
  }
  .item:nth-child(4){
    color: #FE5F55;
  }
  .item:nth-child(5){
    color: #B0DB43;
  }


@keyframes move{
  0%{top: 0px;}
  20%{top: -58px;}
  40%{top: -120px;}
  60%{top: -180px;}
  80%{top: -239px;}
}

.signature{
  color: #85A9C1;
  font-family: Roboto, sans-serif;
  padding-top: 75px;
}.signature__name{
  transition: .5s;
  color: #6E8CA0;
  text-decoration: none;}
  .signature__name:hover{
    color: #1E6583;
    text-decoration: underline;
    transition: .5s;
  }
.svg-icon {
  width: 1em;
  height: 1em;
  animation: pulse-animation .5s alternate infinite;
  fill: #BA2632;
}@keyframes pulse-animation{
  to{transform: scale(1.2);}
}